@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Vorname</label>
            <input value="@Model.Client.Name.FirstName" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label>Nachname</label>
            <input value="@Model.Client.Name.LastName" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label>E-Mail-Adresse</label>
            <input value="@Model.Client.Email" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label>Rolle</label>
            <input value="@Program.Translations.GetValueOrDefault(Model.Client.Role)" class="form-control" disabled />
        </div>
        @if (Model.Client.FormId.HasValue)
        {
            <div class="form-group">
                <label>Klasse</label>
                <input value="@Database.GetFormName(Model.Client.FormId.Value)" class="form-control" disabled />
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}