@page
@model FormsModel
@{
    ViewData["Title"] = "Klassenübersicht";
    ViewData["ActivePage"] = "Forms";
}

<h2>@ViewData["Title"]</h2>
<hr />

<a class="btn btn-primary" asp-page="./AddForm">Klasse hinzufügen</a>
<form method="post" class="form-inline">
    <input asp-for="Input.SearchKeyWord" class="form-control" value="@Model.SearchKeyWord" />
    <button type="submit" class="btn btn-primary">Suchen</button>
</form>
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Forms" asp-route-sortOrder="@Model.Sort">
                    Klasse
                </a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Form form in Model.Forms)
        {
            <tr>
                <td>
                    @form.ToString()
                </td>
                <td>
                    <a asp-page="EditForm" asp-route-id="@form.Id">Bearbeiten</a>
                    <text>|</text>
                    <a asp-controller="Admin" asp-action="RemoveForm" asp-route-id="@form.Id">Entfernen</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    form {
        float: right;
    }
</style>