@page
@model GenerateCodesModel
@{
    ViewData["Title"] = "Registrierungscodes generieren";
}

<h2>@ViewData["Title"]</h2>

<h4>Neue Codes generieren:</h4>
<form method="post">
    <div class="form-group">
        <label asp-for="GenerateInput.Number"></label>
        <input type="number" value="1" min="1" max="100" name="number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GenerateInput.Role"></label>
        <select name="role" class="form-control">
            @foreach (IdentityRole role in Database.Roles)
            {
                <option value="@role.Name">@role.GetDisplayName()</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary" formaction="Generate">Generieren</button>
</form>
<br />
<h4>Derzeit aktive Codes:</h4>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Erstellungszeit</th>
            <th>Rolle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RegistrationCode code in Model.Codes)
        {
            <tr>
                <td><font face="monospace">@code.Code</font></td>
                <td>@code.CreationTime.GetDisplayFormat()</td>
                <td>@code.Role.GetDisplayName()</td>
                <td>
                    <a asp-controller="Admin" asp-action="DeactivateCode" asp-route-code="@code.Code">Deaktivieren</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<br />
<h4>Alte Codes deaktivieren:</h4>
<form method="post">
    <div class="form-group">
        <label asp-for="DeactivateInput.Limit"></label>
        <input type="date" max="@DateTime.Now.GetHtmlDateFormat()" value="@DateTime.Now.GetHtmlDateFormat()" class="form-control" name="limit" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" formaction="DeactivateOldCodes">Deaktivieren</button>
    </div>
</form>