@page
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Admin-Bereich";
    ViewData["ActivePage"] = "Index";
}

<form method="post" class="form-inline">
    <input asp-for="Input.SearchKeyWord" class="form-control" value="@Model.SearchKeyWord" />
    <button type="submit" class="btn btn-primary">Suchen</button>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstNameSort">
                    Vorname
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">
                    Nachname
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.RoleSort">
                    Rolle
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FormSort">
                    Klasse
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AdminSort">
                    Administrator*in
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmployeeSort">
                    Mitarbeiter*in
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>
                    @client.Name.FirstName
                </td>
                <td>
                    @client.Name.LastName
                </td>
                <td>
                    @string.Join(", ", client.Roles)
                </td>
                <td>
                    @client.Form
                </td>
                <td>
                    @if (client.Admin)
                    {
                        <input type="checkbox" checked onclick="return false;" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false;" />
                    }
                </td>
                <td>
                    @if (client.Employee)
                    {
                        <input type="checkbox" checked onclick="return false;" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false;" />
                    }
                </td>
                <td>
                    @if (!client.Id.Equals(Client.Create(UserManager, User).Id))
                    {
                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@client.Id">Entfernen</a>
                        <text>|</text>
                        @if (client.Admin)
                        {
                            <a asp-controller="Admin" asp-action="DegradeAdmin" asp-route-id="@client.Id">Adminrechte entfernen</a>
                        }
                        else
                        {
                            <a asp-controller="Admin" asp-action="PromoteAdmin" asp-route-id="@client.Id">Adminrechte geben</a>
                        }
                        <text>|</text>
                        @if (client.Employee)
                        {
                            <a asp-controller="Admin" asp-action="DegradeEmployee" asp-route-id="@client.Id">Mitarbeiterrechte entfernen</a>
                        }
                        else
                        {
                            <a asp-controller="Admin" asp-action="PromoteEmployee" asp-route-id="@client.Id">Mitarbeiterrechte geben</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    form {
        float: right;
    }
</style>