@page
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Admin-Bereich";
    ViewData["ActivePage"] = "Index";
}

<a class="btn btn-primary" asp-page="./AddUser">Benutzer hinzufügen</a>
<form method="post" class="form-inline">
    <input asp-for="Input.SearchKeyWord" class="form-control" value="@Model.SearchKeyWord" />
    <button type="submit" class="btn btn-primary">Suchen</button>
</form>
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FirstNameSort">
                    Vorname
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">
                    Nachname
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.RoleSort">
                    Rolle
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FormSort">
                    Klasse
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AdminSort">
                    @Resources.AdminDisplay
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmployeeSort">
                    @Resources.EmployeeDisplay
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model.Users)
        {
            <tr>
                <td>
                    @user.GetName().FirstName
                </td>
                <td>
                    @user.GetName().LastName
                </td>
                <td>
                    @user.GetRole().GetDisplayName()
                </td>
                <td>
                    @user.GetForm()?.ToString()
                </td>
                <td>
                    @if (user.IsAdmin())
                    {
                        <input type="checkbox" checked onclick="return false;" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false;" />
                    }
                </td>
                <td>
                    @if (user.IsEmployee())
                    {
                        <input type="checkbox" checked onclick="return false;" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false;" />
                    }
                </td>
                <td>
                    <a asp-page="EditUser" asp-route-id="@user.Id">Bearbeiten</a>
                    @if (!user.Id.Equals(User.GetIdentityUser().Id) && !user.UserName.Equals(User.Identity.Name))
                    {
                        <text>|</text>
                        <a asp-controller="Admin" asp-action="Remove" asp-route-id="@user.Id">Entfernen</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    form {
        float: right;
    }
</style>