<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-page="./Index">Bestellungen</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.OrderHistoryNavClass(ViewContext)" id="orders" asp-page="./OrderHistory">Bestellhistorie</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ProductsNavClass(ViewContext)" id="products" asp-page="./Products">Produktübersicht</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AddProductNavClass(ViewContext)" id="addproduct" asp-page="./AddProduct">Produkt hinzufügen</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AllergensNavClass(ViewContext)" id="allergens" asp-page="./Allergens">Allergenübersicht</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AddAllergenNavClass(ViewContext)" id="addallergen" asp-page="./AddAllergen">Allergen hinzufügen</a></li>
</ul>