@page
@model AllergensModel
@{
    ViewData["Title"] = "Allergenübersicht";
    ViewData["ActivePage"] = "Allergens";
}

<h2>@ViewData["Title"]</h2>
<hr />

<a class="btn btn-primary" asp-page="./AddAllergen">Allergen hinzufügen</a>
<form method="post" class="form-inline">
    <input asp-for="Input.SearchKeyWord" class="form-control" value="@Model.SearchKeyWord" />
    <button type="submit" class="btn btn-primary">Suchen</button>
</form>
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Allergens" asp-route-sortOrder="@Model.Sort">
                    Allergen
                </a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Allergen allergen in Model.Allergens)
        {
            <tr>
                <td>
                    @allergen.Description
                </td>
                <td>
                    <a asp-page="EditAllergen" asp-route-id="@allergen.Id">Bearbeiten</a>
                    <text>|</text>
                    <a asp-controller="Counter" asp-action="RemoveAllergen" asp-route-id="@allergen.Id">Entfernen</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    form {
        float: right;
    }
</style>