@page
@model CABESO.Areas.Counter.Pages.EditOrderModel
@{
    ViewData["Title"] = "Bestellung bearbeiten";
}

<h2>@ViewData["Title"]: @EditOrderModel.CurrentOrder.User.GetName()</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.ProductId"></label>
        <select class="form-control" asp-for="Input.ProductId">
            <!--falsches Element wird angezeigt-->
            @foreach (Product product in Model.Products)
            {
                if (product.Id.Equals(EditOrderModel.CurrentOrder.Product))
                {
                    <option value="@product.Id" selected="selected">
                        @product;
                    </option>
                }
                else
                {
                    <option value="@product.Id">
                        @product;
                    </option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Input.Number"></label>
        <input class="form-control" type="number" min="1" max="10" value="@EditOrderModel.CurrentOrder?.Number" asp-for="Input.Number" />
    </div>
    <div class="form-group">
        <label asp-for="Input.CollectionTime"></label>
        <input class="form-control" type="datetime-local" asp-for="Input.CollectionTime" value="@EditOrderModel.CurrentOrder.CollectionTime" />
    </div>
    <div class="form-group">
        <label asp-for="Input.Notes"></label>
        <input class="form-control" asp-for="Input.Notes" value="@EditOrderModel.CurrentOrder.Notes" />
    </div>
    <!--Übergangslösung-->
    <div class="form-group">
        <label asp-for="Input.Collected"></label>
        <input asp-for="Input.Collected" type="checkbox" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
    </div>
</form>

<script>
    var roleSelect = document.getElementById('role_select');
    var formForm = document.getElementById('form_form');
    function selectChange() {
        if (roleSelect.value == 'Student') {
            formForm.removeAttribute('hidden');
        }
        else {
            formForm.setAttribute('hidden', true);
        }
    }
    selectChange();
</script>