@page
@model ProductsModel
@{
    ViewData["Title"] = "Produktübersicht";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="post" class="form-inline">
    <a class="btn btn-primary nav-item @ManageNavPages.AddProductNavClass(ViewContext)" id="addproduct" asp-page="./AddProduct">Produkt hinzufügen</a>
    <input asp-for="Input.SearchKeyWord" class="form-control" value="@Model.SearchKeyWord" />
    <button type="submit" class="btn btn-primary">Suchen</button>
</form>
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.NameSort" asp-route-search="@Model.SearchKeyWord">
                    Bezeichnung
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.PriceSort" asp-route-search="@Model.SearchKeyWord">
                    Preis
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.SaleSort" asp-route-search="@Model.SearchKeyWord">
                    Rabatt
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.AllergensSort" asp-route-search="@Model.SearchKeyWord">
                    Allergene
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.VegetarianSort" asp-route-search="@Model.SearchKeyWord">
                    vegetarisch
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.VeganSort" asp-route-search="@Model.SearchKeyWord">
                    vegan
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.SizeSort" asp-route-search="@Model.SearchKeyWord">
                    Größe
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.DepositSort" asp-route-search="@Model.SearchKeyWord">
                    Pfand
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.InformationSort" asp-route-search="@Model.SearchKeyWord">
                    Hinweis
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(product.Image))
                    {
                        <img src="/images/@product.Image" id="@product.Id" style="width:75px;height:auto;" onclick="javascript: window.open('/images/@product.Image');" />
                    }
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.Price.GetDisplayFormat()
                </td>
                <td>
                    @product.Sale.GetDisplayFormat()
                </td>
                <td>
                    @foreach (Allergen allergen in product.Allergens ?? new Allergen[0])
                    {
                        <span title="@allergen.Description">@Model.AllergenIndices[allergen.Id]</span><text> </text>
                    }
                </td>
                <td>
                    @if (product.Vegetarian)
                    {
                        <input type="checkbox" checked onclick="return false;" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false;" />
                    }
                </td>
                <td>
                    @if (product.Vegan)
                    {
                        <input type="checkbox" checked onclick="return false;" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false;" />
                    }
                </td>
                <td>
                    @product.Size
                </td>
                <td>
                    @product.Deposit.GetDisplayFormat()
                </td>
                <td>
                    @product.Information
                </td>
                <td>
                    <a asp-page="EditProduct" asp-route-id="@product.Id">Bearbeiten</a>
                    <text>|</text>
                    <a asp-controller="Counter" asp-action="RemoveProduct" asp-route-id="@product.Id">Entfernen</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    form {
        float: right;
    }
    img {
        transition: transform .2s;
    }
    img:hover {
        transform: scale(5);
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}