@page
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Deine Bestellungen";
    ViewData["ActivePage"] = "Index";
}

<h2>Laufende Bestellungen</h2>
<form method="post" class="form-inline">
    <input asp-for="Input.SearchKeyWord" class="form-control" value="@Model.SearchKeyWord" />
    <button type="submit" class="btn btn-primary">Suchen</button>
</form>
<br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ProductNameSort" asp-route-search="@Model.SearchKeyWord">
                    Produkt
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PricePerProductSort" asp-route-search="@Model.SearchKeyWord">
                    Einzelpreis
                </a>
            </th>

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TotalPriceSort" asp-route-search="@Model.SearchKeyWord">
                    Gesamtpreis
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumberSort" asp-route-search="@Model.SearchKeyWord">
                    Anzahl
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.OrderTimeSort" asp-route-search="@Model.SearchKeyWord">
                    Bestellzeit
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CollectionTimeSort" asp-route-search="@Model.SearchKeyWord">
                    Abholzeit
                </a>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>
                    @order.Product.Name
                </td>
                <td>
                    @string.Format("{0:C2}", order.Product.Price)
                </td>
                <td>
                    @string.Format("{0:C2}", order.Product.Price * order.Number)
                </td>
                <td>
                    @order.Number
                </td>
                <td>
                    @order.OrderTime.GetDisplayFormat()
                </td>
                <td>
                    @order.CollectionTime.GetDisplayFormat()
                </td>
                <td>
                    
                    @if (order.PreparationTime.Equals(null) && order.CollectionTime > DateTime.Now.AddHours(1))
                    {
                        <a asp-page="EditOrder" asp-route-id="@order.Id">Bearbeiten</a>
                        <text>|</text>
                        <a asp-controller="Orders" asp-action="Remove" asp-route-id="@order.Id">Entfernen</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .form-inline {
        float: right;
    }
</style>