@page
@model PlaceOrderModel
@{
    ViewData["Title"] = "Bestellung aufgeben";
}

<h2>Neue Bestellung aufgeben</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Input.ProductId"></label>
        <select class="form-control" asp-for="Input.ProductId">
            @foreach (Product product in Model.Products)
            {
                <option value="@product.Id">
                    @product
                </option>
            }
        </select>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    @if (!String.IsNullOrEmpty(Model.SelectedProduct.Image))
                    {
                        <img src="/images/@Model.SelectedProduct.Image" id="Input.ProductId" style="width:100px;height:auto;" onclick="javascript: window.open('/images/@Model.SelectedProduct.Image');" />
                    }
                </td>
                <td>
                    <p>@Model.Vegan</p>
                    <p>@Model.Vegetarian</p>
                    @if (!string.IsNullOrEmpty(Model.SelectedProduct.Information))
                    {
                        <p><b>Weitere Hinweise:</b></p>
                        <p>@Model.SelectedProduct.Information</p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <label asp-for="Input.Number"></label>
        <input class="form-control" type="number" min="1" max="10" value="1" asp-for="Input.Number" />
    </div>
    <div class="form-group">
        <label asp-for="Input.CollectionTime"></label>
        <input class="form-control" type="datetime-local" asp-for="Input.CollectionTime" id="colTime" min="@DateTime.Now.AddHours(1).GetHtmlFormat()" max="@DateTime.Now.Date.AddDays(7).GetHtmlFormat()" value="@(DateTime.Now.TimeOfDay.TotalHours > 71.0/6.0 ? DateTime.Now.Date.AddHours(36).AddMinutes(50).GetHtmlFormat() : DateTime.Now.Date.AddHours(12).AddMinutes(50).GetHtmlFormat())" onchange="javascript: updateBtns();" />
    </div>
    <div class="form-group">
        <input type="button" id="btn1" value="1. Pause" onclick="javascript: setTime(905);" />
        &nbsp;
        <input type="button" id="btn2" value="2. Pause" onclick="javascript: setTime(1100);" />
        &nbsp;
        <input type="button" id="btn3" value="Mittagspause" style="color:red;" onclick="javascript: setTime(1250);" />
    </div>
    <div class="form-group">
        <label asp-for="Input.Notes"></label>
        <input class="form-control" asp-for="Input.Notes" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Bestellen</button>
    </div>
</form>

<script>
    setTime(1250);
    function setTime(time) {
        $('#colTime').val($('#colTime').val().slice(0, 11).concat(Math.floor(time / 100).toString().padStart(2, '0'), ':', (time % 100).toString().padStart(2, '0')));
        updateBtns();
    }
    function updateBtns() {
        $('#btn1').removeAttr('style');
        $('#btn2').removeAttr('style');
        $('#btn3').removeAttr('style');
        var time = $('#colTime').val().slice(-5);
        if (time.localeCompare('09:05') == 0) {
            $('#btn1').css('color', 'red');
        }
        else if (time.localeCompare('11:00') == 0) {
            $('#btn2').css('color', 'red');
        }
        else if (time.localeCompare('12:50') == 0) {
            $('#btn3').css('color', 'red');
        }
    }
    setTimeout(function () {
        Model.UpdateTable();
        //document.getElementsByClassName("table").item(1).TEXT_NODE = Model.VeganVegetarian;

        //var table = $(this).parent().parent();
        //var tdPicture = table.children(td(1));
        //tdPicture.text = "Test";

        //window.location.reload(1);
    }, 1000);
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}