@page
@model PlaceOrderModel
@{
    ViewData["Title"] = "Bestellung aufgeben";
}

<h2>Neue Bestellung aufgeben</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Input.ProductId"></label>
        <select class="form-control" asp-for="Input.ProductId" id="prodSelect" onchange="javascript: update();">
            @foreach (Product product in Model.Products)
            {
                <option value="@product.Id">
                    @product
                </option>
            }
        </select>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <img id="image" style="width:100px;height:auto;" onclick="javascript: window.open($(this).attr('src'));" hidden />
                </td>
                <td>
                    <p id="vegetarian" hidden></p>
                    <p id="vegan" hidden></p>
                    <p id="allergensHeader" hidden><b>Allergene:</b></p>
                    <p id="allergens" hidden></p>
                    <p id="infoHeader" hidden><b>Weitere Hinweise:</b></p>
                    <p id="information" hidden></p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <label asp-for="Input.Number"></label>
        <input class="form-control" type="number" min="1" max="10" value="1" asp-for="Input.Number" />
    </div>
    <div class="form-group">
        <label asp-for="Input.CollectionTime"></label><span>Frühstmögliche Abholzeit: @DateTime.Now.AddHours(1).GetDisplayFormat()</span>
        <input class="form-control" type="datetime-local" asp-for="Input.CollectionTime" id="colTime" min="@DateTime.Now.AddHours(1).GetHtmlFormat()" max="@DateTime.Now.Date.AddDays(7).GetHtmlFormat()" value="@(DateTime.Now.TimeOfDay.TotalHours > 71.0/6.0 ? DateTime.Now.Date.AddHours(36).AddMinutes(50).GetHtmlFormat() : DateTime.Now.Date.AddHours(12).AddMinutes(50).GetHtmlFormat())" onchange="javascript: updateBtns();" />
    </div>
    <div class="form-group">
        <input type="button" id="btn1" value="1. Pause" onclick="javascript: setTime(905);" />
        &nbsp;
        <input type="button" id="btn2" value="2. Pause" onclick="javascript: setTime(1100);" />
        &nbsp;
        <input type="button" id="btn3" value="Mittagspause" style="color:red;" onclick="javascript: setTime(1250);" />
    </div>
    <div class="form-group">
        <label asp-for="Input.Notes"></label>
        <input class="form-control" asp-for="Input.Notes" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Bestellen</button>
    </div>
</form>

<style>
    img {
        transition: transform .2s;
    }
    img:hover {
        transform: scale(5);
    }
</style>

<script>
    setTime(1250);
    function setTime(time) {
        $('#colTime').val($('#colTime').val().slice(0, 11).concat(Math.floor(time / 100).toString().padStart(2, '0'), ':', (time % 100).toString().padStart(2, '0')));
        updateBtns();
    }
    function updateBtns() {
        $('#btn1').removeAttr('style');
        $('#btn2').removeAttr('style');
        $('#btn3').removeAttr('style');
        var time = $('#colTime').val().slice(-5);
        if (time.localeCompare('09:05') == 0) {
            $('#btn1').css('color', 'red');
        }
        else if (time.localeCompare('11:00') == 0) {
            $('#btn2').css('color', 'red');
        }
        else if (time.localeCompare('12:50') == 0) {
            $('#btn3').css('color', 'red');
        }
    }
    function update() {
        $.ajax({
            url: '/Orders/GetProductData',
            data: {
                id: $('#prodSelect').val()
            }
        })
            .done(function (result) {
                if (result.image != "") {
                    $('#image').attr('src', '/images/'.concat(result.image));
                    $('#image').removeAttr('hidden');
                }
                $('#vegetarian').text('Vegetarisch: '.concat(result.vegetarian));
                $('#vegetarian').removeAttr('hidden');
                $('#vegan').text('Vegan: '.concat(result.vegan));
                $('#vegan').removeAttr('hidden');
                if (result.allergens != "") {
                    $('#allergensHeader').removeAttr('hidden');
                    $('#allergens').text(result.allergens);
                    $('#allergens').removeAttr('hidden');
                }
                if (result.information != "") {
                    $('#infoHeader').removeAttr('hidden');
                    $('#information').text(result.information);
                    $('#information').removeAttr('hidden');
                }
            });
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}